@tailwind base;
@tailwind components;
@tailwind utilities;
/* pagina principal pagina web*/
.inicio{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.circulo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background: #d7dacb;
  clip-path: circle(86% at left 10%);

}
 @media only screen and (max-width: 770px) {
  .circulo {
    display: none;
  }
 
  .inicio {
    flex-direction: column;
  }
  .Fondo{
    background: linear-gradient(to bottom, #d7dacb 100%, transparent 50%); 
  }
  .Logo{
    position: absolute;
  }
  
 }

/* para los items */
.icons{
  position: absolute;
  top: 40%;
  transform: translateY(-50%)}

/* producto */
.loader-container {
  position: relative;
 }
 .loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid rgb(0,0,0,0.11);
  border-radius: 50%;
  border-top-color: rgb(52, 152, 219);
  border-bottom-color: rgb(52, 152, 219);
  animation: loader1776 3s linear infinite;
  transform: rotate(0deg);
 transition: transform 3s linear infinite;
 }
 .contentW {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}
  @keyframes loader1776 {
    to {
      transform: rotate(360deg);
    }
   }

   /* mision, vision, objetivo */
   .mis{
    padding: 40px 20px 10px 20px;
    display:flex;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='949' height='949' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23838383'/%3E%3Cstop offset='1' stop-color='%23dadada'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23848484'/%3E%3Cstop offset='0.09' stop-color='%23a8a8a8'/%3E%3Cstop offset='0.18' stop-color='%23c1c1c1'/%3E%3Cstop offset='0.31' stop-color='%23d4d4d4'/%3E%3Cstop offset='0.44' stop-color='%23e2e2e2'/%3E%3Cstop offset='0.59' stop-color='%23ededed'/%3E%3Cstop offset='0.75' stop-color='%23f5f5f5'/%3E%3Cstop offset='1' stop-color='%23FBFBFB'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='0.66' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 1250px;
}
/* Carta de objetivos especificos  */
.card-O {
  overflow: visible;
  width: 100%;
  height: 240px;
}
.content-Ob {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}
.front, .back-O {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}
.back-O {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.back-O::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 180px;
  height: 180%;
  background: linear-gradient(90deg, transparent, rgb(52, 152, 219), rgb(52, 152, 219), rgb(52, 152, 219), rgb(52, 152, 219), transparent);
  animation: rotation_481 5000ms infinite linear;
}
.back-content-Ob {
  position: absolute;
  width: 98%;
  height: 98%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card-O:hover .content-Ob {
  transform: rotateY(180deg);
}
@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}
.front {
  transform: rotateY(180deg);
  color: white;
}
/*Animaciones para imagen del grupo*/
:root {
  --opacity: 1;
  --transform: translateY(0);
}

[data-animation="fade"] {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.6s ease-in 0.3s, transform 0.6s ease-in 0.3s;
}

[data-animation="fade"].visible {
  opacity: var(--opacity);
  transform: var(--transform);
}



/* pagina principal Cn_mecab */
html{
  overflow-x: hidden;
  scroll-padding-top: 0rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width: .8rem;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #0341f8;
    border-radius: 5rem;
}

*{
  margin: 0;
  padding: 0;
}

section{
  padding: 4rem -2%;
}
.section1 {
  padding: 38rem 0%;
}
.section2 {
  padding: -30rem 0%;
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a:hover,
.navbar a.active{
  color: #00abf0;
  border-bottom: .1rem solid #ededed;
}

header .logo{
    position: relative;
    max-width: 350px;
    max-height: 100px;
}

header ul{
  position: relative;
  display: flex;
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
   
}

header .navbar a {
  margin: 0 1rem;
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  transition: all .55s ease;
  border-bottom: 10px solid transparent;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox p{
    font-size: 17px;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2{
    font-size: 3.5em;
    line-height: 1.2em;
}
.content .textBox h2 span{
    font-size: 1em;
    font-weight: 750;
}

.content .textBox a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #121f47;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.text {
color:  rgb(9, 56, 175) ;
}
.content .textBox a:hover{
    background: green;
    color: #fff;
    
}
.content .imgBox{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 35px;
    margin-top: 42px;
}
.content .imgBox img{
    max-width: 100%;
    height: auto;
    max-width: 430px;
    max-height: 570px;
    position: absolute;
    transform: translate(-88%, 5%);
    left: 88%;
    margin-left: center;
    overflow: hidden;

}


.thumb{
    max-width: 50px;
    position: relative;
    left:50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    align-items: center; 
    justify-content: center
    
    
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;

}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 70px;

    

  }
  .sci{
      right: 10px;
      position: absolute;
      top: 50%;
      right: -10px;
      padding: 0 2%; 
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .sci li {
      list-style: none;
      display: block;
      margin: 20px 0;
      font-size: 20px;
      color: #0d0e0f;
      border-radius: 50%;
      padding: 10px;
      box-shadow: 0px 5px 10px rgb(0, 0, 0, .35 );
      transition: all 1s ease;
  }
  .sci li:hover{
      background-color: red;
  }
  
  
  .circle{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 110%;
    background-color: #007ee6;
    clip-path: circle(670px at right 820px);
    
  }
  
  @media screen and (min-width: 768px) {
    /* estilos específicos para pantallas más grandes*/
    .content {
      flex-direction: row;
      justify-content: space-between;
     
    }
  

  .section1 {
    padding: 10rem 2%;
  }
  .section2 {
    padding: 5rem 0%;
  }
  
    .content .imgBox {
      margin-top: -1000px; 
  
    }
  
    .thumb li img {
      max-width: 72px; /* Puede ajustar el tamaño de las miniaturas para pantallas más grandes */
    }
    .objetivo .row {
      flex-wrap: none;
      margin-top: -30%; 
   }
  
   .objetivo .row .image {
      order: 2;
      max-width: 595px;
    }
  
   .objetivo .row .contento {
      order: 1;
   }
  
    .btn {
      transform: translate(-10px);
  
    }
    .btn_abajo {
      transform: translate(-10px);
    }
  }
  

  
  .objetivo {
    display: flex;
    border-radius: 80px;
    max-width: 95%;
    margin: 0 auto;

  }

  /*vista nueva objetivo */
  :root {
    --background-color: rgb(250, 245, 235);
    --primary-color: rgb(34, 98, 218);

  }

  body {
    box-sizing: border-box;
    font-size: 90%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
  }
  
  .text {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .flex {
    display: flex;
}
  
  .center {
    align-items: center;
    justify-content: center;
  }
  
  
  .two-parts {
    display: flex;
    height: 80%;
    flex-wrap: wrap;
  }
  
  .two-parts .two-parts-container {
    max-width: 85%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    /*flex-direction:row-reverse;*/
    
  }
  
  .two-parts .part-1 {
    flex: 2;
    display: flex;
    align-items: center;
  }
  
  .part-1 .width-container {
    width: 65%;
 

  }
  
  .part-1 h3 {
      font-size: 3.5rem;
      line-height: 3rem;
      font: weight;
      margin-bottom: 1rem;
      margin-right: -1px;

  }
  
  .part-1 p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .part-1 .width-container a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 4px;
    margin-top: 30px;
    color: rgb(34, 98, 218);
    font-size: 1rem;
  }
  
  .two-parts .part-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .part-2 img {
    max-width: 75%;
}
  
  .colored {
    background-color: var(--colored-background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .colored .two-parts .part-2 {
    width: 100%;
  
  }
  
  .colored .link { 
    color: white !important;
  }
  
  .reverse-row {
    flex-direction: row-reverse;
  
  }
  
  
  .highlight {
    color: var(--primary-color);
  }
  
  .align-top {
    z-index: 2;
    position:relative;
    width: 40px;
    height: 100px;
  }
  
  .size-s {
    max-width: 80%;
    height: auto;
  }
  
  .duration-20 {
    transition: opacity 3s ease-in-out;
}

.slider-container .w-full {
    transition: opacity 5s ease-in-out;
}

/* Google Play */

.image {
  width: 150px; /* Ajusta este valor según sea necesario */
  height: auto;
  transition: opacity 5s ease;
  display: inline-block;
  transition:all;
  background: transparent;
}

.link:hover .image {
  opacity: 2;
}

/* Boton descarga slider */

.download {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -0.9rem 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50%; 
 
}

.download:hover {
  background-color: #45a049; /* Color de fondo cuando el botón se pasa el mouse */
}




/* responsive slider */
@media (max-width: 768px) {

  .two-parts .two-parts-container {
  flex-direction:column;
  }

  .two-parts .part-1,
  .two-parts .part-2 {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .part-2 img {
    max-width: 80%;
    margin-top: 2rem;
}
  .part-1 h3 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
   
  }
  .window1 {
    flex-wrap: wrap;
    position: static;
  }
  
 
  .add-item-custom{
    max-width: 80%;
    margin-left: -1rem;
  }
  .part-1 .width-container {
    width: 100%;
    text-align: center;
  }
  .part-1 p {
    font-size: 0.930rem;
  }

  .part-1 .width-container a {
    font-size: 0.875rem;
  }

  .size-s {
    max-width: 80%;
    flex-direction: column-reverse;
  }

  .hidden.group-hover:block {
    display: block;
  }

  .left-10 {
    left: 0;
    top: -10;
  }

  .-right-4 {
    right: 0;
  }

  .botones {
    margin-top: 5rem;
  }
  .img1 {
    align-content: center;
    margin-right: 5rem;
  
}

}


/* VENTANA */

.window1 {
  width: 480px;
  height: 360px;
  border-radius: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
}

.nav1 {
  background: #fdfdfd;
  padding: 5px 5px 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #eeeeee;
  height: 44px;
  display: grid;
  grid-template-columns: 1fr 35px;
  max-width: 480px;
  overflow: hidden;
}

.tabs-custom {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 420px;
  padding-right: 10px;
}

.main1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  flex-grow: 1;
  user-select: none;
}

.custom ul,
.custom li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.custom li {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  position: relative;
  background: white;
  cursor: pointer;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.custom li span {
  flex-shrink: 1;
  flex-grow: 1;
  line-height: 18px;
  white-space: nowrap;
  display: block;
  min-width: 0;
  padding-right: 30px;
  mask-image: linear-gradient(to left, transparent 20px, #fff 40px);
  -webkit-mask-image: linear-gradient(to left, transparent 20px, #fff 40px);
}

.custom li .close-custom {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.custom li button {
  width: 20px;
  height: 20px;
  border: 0;
  background: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #000;
  margin-left: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

.background-custom {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.add-item-custom {
  width: 30px;
  height: 30px;
  background: #eee;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  align-self: center;
}

.add-item-custom:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}


/* Nueva Seccion que ofrecemos*/

.text-section {
    width: 95%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
