@tailwind base;
@tailwind components;
@tailwind utilities;
/* pagina principal */


header .navbar a {
    
  margin: 0 1rem;
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: all .55s ease;
  border-bottom: 2px solid transparent;
}
.navbar a:hover,
.navbar a.active{
  color: #00abf0;
  border-bottom: .1rem solid #ededed;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 620px;
}
.content .textBox p{
    color: #333;
    font-size: 17px;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2{
    color: #333;
    font-size: 3.5em;
    line-height: 1.2em;
}
.content .textBox h2 span{
    color:rgb(11, 58, 201);
    font-size: 1em;
    font-weight: 750;
}

.content .textBox a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #121f47;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.content .textBox a:hover{
    background: green;
    color: #fff;
    
}
.content .imgBox{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 30px;
}
.content .imgBox img{
    max-width: 400px;
    position: absolute;
    transform: translate(8%, 5%);
    top: -1150%;
    left: 65%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    

}

.thumb{
    position: relative;
    left:50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    align-items: center; 
    justify-content: center;
    
    
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;

}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 72px;

    

}
.sci{
    position: absolute;
    top: 50%;
    right: -10px;
    padding: 0 2%; 
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li {
    list-style: none;
    display: block;
    margin: 20px 0;
    font-size: 20px;
    color: #0d0e0f;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .35 );
    transition: all 1s ease;
}
.sci li:hover{
    background-color: red;
}
.sci li a{
    display: inline-block;
    margin: 10px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #2b9dfa;
  clip-path: circle(620px at right 830px);
}